
h1 {
	margin-top: 50px;
	font-size: 48px;
}

div.product-container {
	width: 600px;
	padding: 20px;
	margin: 30px;
	margin-top: 20px;
	padding-top: 10px;
}

img.img-sticker {
	width: 300px;
	padding: 20px;
	height: 300px;
	background: #fff;
	border: 1px solid #ababab;
	float: left;
	-moz-box-shadow: 2px 2px 5px #dadada;
	-webkit-box-shadow: 2px 2px 5px #dadada;
	box-shadow: 2px 2px 5px #dadada;
}

div.sell-tip {
	background: #fafafa;
	border: 1px solid #ababab;
	width: 670px;
	color: #363435;
	text-shadow: #dadada 0.1em 0.1em 0.1em;
	border-radius: 10px;
	padding: 20px;
	font-size: 18px;
	padding-top: 25px;
	padding-bottom: 17px;
	padding-right: 30px;
	padding-left: 0px;
	height: 200px;
}

div.sell-tip span.d {
	font-weight: bold;
	font-size: 19px;
}

div.sell-tip span.info {
	font-size: 12px;
}

.btn-success {
	margin: 10px;
	background: #58A400;
	width: 250px;
	font-size: 20px;
	margin-left: 10px;
	text-transform: uppercase;
}

.btn-success:hover {
	background: #58A400;
}

.share {
	margin-top: 40px;
	border-radius: 5px;
	background: #dadada;
}

.share td {
	padding: 5px;
}